<!DOCTYPE html>
<html>
<head>
  <title>Thundercat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="top-bar">
    <div class="top-bar-left menu-text">

      <div class="float-left logo">
        <h1><a href="/"><%= image_tag("Logo.png", size: "100x100")%></a></h1>
      </div>

      <div class="float-left topbar-center">
        <%= link_to 'Queries', tests_path %>
      </div>

      <div class="float-left topbar-center">
        <%= link_to 'Tutors', tutors_path %>
      </div>

    </div>

    <section class="top-bar-right">
        <%- if current_user -%>
          <div class="float-left topbar-center">
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          </div>
        <%- else -%>
          <div class="float-left topbar-center">
            <%= link_to 'Sign Up', new_user_registration_path %>
          </div>
          <div class="float-left topbar-center">
            <%= link_to 'Sign In', new_user_session_path %>
          </div>
        <%- end -%>
    </section>
  </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <div class="body">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
